root = true

[*.{sh,bash}]
indent_style       = space
indent_size        = 2
simplify           = true
binary_next_line   = false
switch_case_indent = true
space_redirects    = true
function_next_line = false

# also bash scripts.
[{install,uninstall,bin/fzf-preview.sh,bin/fzf-tmux}]
indent_style       = space
indent_size        = 2
simplify           = true
binary_next_line   = false
switch_case_indent = true
space_redirects    = true
function_next_line = false
